<launch>
  <include file="$(find ros_serial)/launch/rosserial_python0.launch"/>

  <group ns="camera">
    <node name="image_raw_node" pkg="ros_camera" type="camera_node.py" output="screen"/>
  </group>

  <node name="view_raw"         pkg="image_view" type="image_view" args="image:=/camera/image_raw"/>
  <node name="view_observation" pkg="image_view" type="image_view" args="image:=/camera/observation"/>

  <!-- <node name="view_drkvae_C2"                  pkg="image_view" type="image_view" args="image:=/stream/C2"/>
  <node name="view_drkvae_R2"                  pkg="image_view" type="image_view" args="image:=/stream/R2"/>
  <node name="view_drkvae_RC"                  pkg="image_view" type="image_view" args="image:=/stream/RC"/>
  <node name="view_drkvae_predict"          pkg="image_view" type="image_view" args="image:=/predict"/> -->

</launch>
